:root {
    --nitroshake-gameview-tweaks-play-bar-height: 80px;
    --nitroshake-gameview-tweaks-info-bar-height: 138px;
    --nitroshake-gameview-tweaks-full-bar-height: calc(var(--nitroshake-gameview-tweaks-play-bar-height) + var(--nitroshake-gameview-tweaks-info-bar-height));
}

/* Change where menu begins */
.NZMJ6g2iVnFsOOp-lDmIP {
    height: calc(100vh - var(--nitroshake-gameview-tweaks-full-bar-height));
}

/* Resize logo */
._3NBxSLAZLbbbnul8KfDFjw, ._2dzwXkCVAuZGFC-qKgo8XB {
    max-height: var(--logo-max-limit);
}