/* change image height to intersect with playbar */
._1IX7FPSY9Jb82KhBVBSkZa, .HNbe3eZf6H7dtJ042x1vM {
    height: calc(100vh - var(--nitroshake-gv-info-bar-height) - calc(var(--nitroshake-gv-play-bar-height) / 2)) !important;
}

/* Apply dim + blur on menu */
.BasicUI ._3fp5y6tdU77MdrCQZt_aS9 {
    background: rgba(14,20,27,.35);
    backdrop-filter: blur(var(--nitroshake-gv-play-bar-blur));
}